body{
    background-image: linear-gradient(-90deg,purple,violet,skyblue, lightblue);
    font-family: sans-serif;
}

/* about meni */
.navbar{
    background: rgb(80, 11, 80);
    opacity: 0.8;
    height: 50px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1;
}

.about_meni{
    position: fixed;
    text-transform: uppercase;    
    top: 10px;
    left: 5%;
}

.icon-bar a{
    text-align:center;
    padding:10px;
    color:white;
    font-size: 15px;
    text-align: top;

}

.icon-bar a:hover{
    widows: 0;
    color:violet;
    text-decoration: none;
}
/*tekst*/
.aboutIvona{
    margin-top: 70px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 15px;
    color: black;
}

.aboutNegra {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: black;

}

h1 {
    text-shadow: 5px 5px rgb(173, 216, 230,0.5) ;
    font-family: fantasy;
    padding-left: 20px;
    text-align: center;
}

.tekst{
    text-align: justify;
    text-indent: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.Ivona {
    width: 350px;
    border-radius: 100%;
    padding:20px;
    padding-top: 55px;
    float: right;
    display: block;

}

/*social media */

.social-media{
    background-color: rgba(141, 140, 140, 0.4);
    padding-left: 7%;
    width: 100%;
    margin: 0%;
    max-width: 100%;
    border-top-style: solid;
    border-bottom-style:solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.social-media > h4 {
    padding-top: 25px;
    padding-right: 55px;
    text-shadow: 5px 5px rgb(173, 216, 230,0.5) ;
    font-family: fantasy;
    color: black;
}

.social-media > a {
    color:black;
    font-size: 50px;
    padding-right: 60px;
    padding-left: 60px;
    height: 90px;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


